body {
  background-color: powderblue;
}
h1 {
  color: blue;
  border: 2px solid powderblue;
  padding: 30px;
  margin: 50px;
}
p {
  color: red;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
table, th, td {
  border: 1px solid black;
  border-radius: 10px;
}
th, td {
  border: 1px solid black;
  border-radius: 10px;
}
th {
  text-align: left;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}