* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f1b24;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

/* left side */
.left {
    background-color: #0c1014;
    width: 55%;
    padding: 80px;
}

.icon {
    width: 120px;
    margin-bottom: 20px;
    margin-top: -53px;
    margin-left: -50px;
}

.left p {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: -14px;
    margin-top: -31px;
    text-align: center;
}

.left span {
    background: linear-gradient(45deg, #ff7a00, #ff00cc);
    -webkit-background-clip: text;
    color: transparent;
}


.stories {
    width: 500px;
    display: block;
    margin: auto;
}

.vl {
  border-left: 3px solid #3d4f5c;
  height: 100%;
  position: absolute;
  left: 55%;
  margin-left: -1px;
  top: 0;
}

/* rght s */
.right {
    width: 45%;
    background: #152127;
    padding: 80px 60px;
}

.right h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
}

.right input {
    width: 100%;
    height: 60px;
    padding: 14px;
    margin-bottom: 12px;
    background: #0f1b24;
    border: 1px solid #3d4f5c;
    color: white;
    border-radius: 15px;
}

.right input:hover{
    border-color: white;
}
.right input:focus{
    border-color: #1d4ed8;
}

.logform:has(input:placeholder-shown) button {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* Enabled state (optional styling) */
.logform button {
  opacity: 1;
  cursor: pointer;
}

.login {
    width: 100%;
    padding: 14px;
    background: #1d4ed8;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
}

.forgot {
    width: 100%;
    padding: 14px;
    background: #152127;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 10px;
}
.forgot:hover {
    background: #2d383d;
}

.outface a{
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 14px;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid #2c3e50;
    background: #152127;
    margin-top: 45px;
    margin-bottom: 5px;
    text-align: center;
}

.outface a:hover {
    background: #2d383d;
}

.outcreate a{
    width: 100%;
    color: #3191f1;
    text-decoration: none;
    font-size: 16px;
    padding: 14px;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid #3191f1;
    background: #152127;
    margin-top: 6px;
    margin-bottom: 0px;
    text-align: center;
}

.outcreate a:hover {
    background: #2d383d;
}
.meta {
    text-align: center;
    margin-top: 40px;
    color: #9ca3af;
}
